.card {
    width: 18rem;
    margin-bottom: 4px;
}

.col-md-6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectsH1 {
    display: flex;
    align-items: center;
    justify-content: center;
}